# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.corsair_mute_sync.iml
# Datasource local storage ignored files
/../../../../../../../../:\repos\CUESDK\examples\corsair_mute_sync\.idea\.idea.corsair_mute_sync\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
